---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Gerardo is a Full-stack Developer and civil engineer from colombia with a passion for technology and software development. He has experience in web development, data analysis, and project management. He is always eager to learn new technologies and improve his skills.
		</p>
		<p>He will be happy to work and collaborate in any project as a Full-stack. His main stacks are Angular and Spring Boot.</p>
	</div>
</div>


