---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>Sobre el Autor</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Gerardo es un Desarrollador Full-stack e ingeniero civil de Colombia con una pasión por la tecnología y el desarrollo de software. Tiene experiencia en desarrollo web, análisis de datos y gestión de proyectos. Siempre está ansioso por aprender nuevas tecnologías y mejorar sus habilidades.
		</p>
		<p>Estará encantado de trabajar y colaborar en cualquier proyecto como Full-stack. Sus principales stacks son Angular y Spring Boot.</p>
	</div>
</div>


